<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de eliminación</title>
</head>

<body class="container">
    <h1>Si no estas seguro puedes volver atras</h1><a href="{% url 'productos:catalogo' %}">Volver al catálogo</a>
    {% block content %}
    <h2>¿Estás seguro de que deseas eliminar el producto: "{{ producto.nombre }}"?</h2>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Eliminar producto</button>
    </form>
  {% endblock %}
</body>
</html>
