{% extends 'index.html' %}
{% block content %}
<h1>Your Bag</h1>

{% for producto in productos %}
<div class="col-6">
    <div class="card" style="height: 10rem; width: 23rem; margin: 5px 0px;">
        <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">{{producto.categoria}}</p>
            <p class="card-text">{{producto.precio}}</p>
            <!--<a href="{% url 'Add' producto.id %}" class="btn btn-primary">Agregar al carrito</a>-->
        </div>
    </div>
</div>
{% endfor %}

{% include "product_catalog.html" %}

{% endblock %}